{{block "code-of-conduct" .}}
<div id="Code of Conduct" class="row">
    <h4 class="jerctf">@codeofconduct</h4>
    <h3>Expected Participant Behavior</h3>
    <ul>
        <li>Use common courtesy. If you are not sure whether or not you should post something, do not post it.</li>
        <li>Show respect for other participants, specifically over communication channels like Discord.</li>
        <li>Collaboration with your teammates.</li>
        <li>Healthy competition between participants.</li>
        <li>Responsible behavior that would be seen in a public setting, such as a school, in-person event, or
            professional work setting.</li>
        <li>Abide by the <a target="_blank" href=https://www.acm.org/code-of-ethics>National ACM Code of Ethics</a> and
            <a target="_blank" href=https://discord.com/guidelines>Professional Conduct and Discord Community
                Guidelines.</a></li>
    </ul>

    <h3>Unacceptable Participant Behavior</h3>
    <ul>
        <li>Specifically for Discord: Don't have or post racist, degrading, explicit, adult, or controversial usernames,
            messages, nicknames, profile pictures, or statuses. If you have to ask, it's probably not okay.</li>
        <li>Don't spam. This includes posting off-topic or repetitive messages.</li>
        <li>Posting any type of NSFW content, including but not limited to sharing inappropriate, violent, and
            disturbing pictures, videos, and audio.</li>
        <li>Posting any type of personal, sensitive, or confidential information about anyone that is involved in the
            competition, without the individual's prior consent.</li>
        <li>Participating in any type of discriminatory behavior towards race, color, religion, sexual orientation,
            national origin, disability, and gender.</li>
        <li>Participating in any type of sexual harassment, cyberbullying, or demeaning conduct.</li>
        <li>Cheating during the competition, including collaborating with other participants that are not a part of your
            team ranging from one to four people.</li>
        <li>Threatening violence upon or intimidating other participants and JerseyCTF peers.</li>
        <li>Disrupting speakers during competition tech talks, career talks, and demos.</li>
        <li>Spreading malicious files to JerseyCTF participants, hosts, sponsors, and speakers with the intent to bring
            harm to systems or jeopardize the integrity of personal information/data.</li>
        <li style="text-decoration:underline">Illegally attacking, exploiting, or hacking into JerseyCTF’s platforms and
            websites that allow for the competition to function to its greatest extent. This includes any host or
            sponsor platforms.</li>

    </ul>

    <p>Please report any Code of Conduct violations or inappropriate behavior to the competition organizers
        or email <a href=mailto:jerseyctf@njit.edu>jerseyctf@njit.edu</a> before, during, or after the event. Any
        reports will remain confidential and will be handled at a professional standard. Failure to comply with the
        JerseyCTF Code of Conduct will result in disqualification from JerseyCTF and ban from the JerseyCTF Discord
        server. With JerseyCTF being a free competition, the hosting organizations reserve the right to disqualify
        and/or ban participants from the Discord server without prior notice or reason. Other actions from the hosting
        organizations include deleting messages from, muting, kicking, banning, or otherwise removing or modifying any
        member at any time at their own discretion. Any type of illegal behavior may result in the involvement of a
        higher authority.
    </p>

</div>
{{end}}