{{block "infographic" .}}
<div id="infographic" class="row justify-content-center" style="background-color: #a8a8a8;">
    <div class="col-6 d-flex justify-content-end">
        <div class="d-flex justify-content-end">
            <img src="/assets/img/JCTFIII/lock.png" class="mx-auto d-block" alt="JerseyCTF Landing Page" height="250">
        </div>
    </div>
    <div class="col-6 col align-self-center">
        <div class="d-flex justify-content-beginning">
            <h5 class="title-info"><b>When: </b><u>Check-in:</u> April 15th, 10:30 A.M. EDT<br>&emsp;&emsp;&emsp;&emsp;<u>Event Ends:</u> April 16th 12:00 P.M. EDT</h5>
        </div>
        <div class="d-flex justify-content-beginning">
            <h5 class="title-info"><b>Where: </b><u>In-person</u> @ NJIT, Newark, NJ<br>&emsp;&emsp;&emsp;&emsp;<u>Online</u> if unable to attend in person</h5>
        </div>
        <div class="d-flex justify-content-beginning">
            
        </div>
        <p class="footnote-info">*Discord link emailed upon registration.</p>
    </div>
    <div class="d-flex justify-content-center">
        <h5 class="title-info"><b>Powered By:</b></h5>
    </div>
    <div class="d-flex justify-content-center" style="padding-bottom: 10px;">
        <a target="_blank" href="https://www.cyber.nj.gov/">
            <img src="/assets/img/sponsor/NJCCIC_logo.png" class="mx-auto d-block" alt="NJCCIC" height="150" width="150">
        </a>
    </div>
</div>
{{end}}
