{{block "recognitions" .}}
<div id="recognitions" class="row justify-content-evenly">
    <h4 class="jerctf">@recognitions</h4>

    <div class="card-group" style="padding-bottom: 7px;"> 
        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Ilan Ponimansky</h5>
                <p class="card-text">Engineering</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Robert Bruder</h5>
                <p class="card-text">Engineering</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Amanda Galante</h5>
                <p class="card-text">Engineering</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">George Gindler</h5>
                <p class="card-text">Engineering</p>
            </div>
        </div>
    </div>

    <div class="card-group" style="padding-bottom: 7px;"> 
        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Abdel Sy Fane</h5>
                <p class="card-text">General Organization</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Toni Diaz</h5>
                <p class="card-text">Marketing</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Dina Anello</h5>
                <p class="card-text">Sponsorships</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">NJIT ACM E-Board</h5>
                <p class="card-text">General Organization</p>
            </div>
        </div>
    </div>

</div>
{{end}}