{{block "resources" .}}
<div id="Resources" class="row">
    <h4 class="jerctf">@resources</h4>
    <div class="card text-center" style="padding: 2%; margin-bottom: 1%;">
        <table class="table table-hover table-dark table-striped">
            <tbody>
                {{range .}}
                <tr>
                    <th>{{.Year}}</th>
                    <th><a href="{{.Writeups}}" target="_blank">Writeups</a></th>
                    <th><a href="{{.Playlist}}" target="_blank">Tech Talk Playlist</a></th>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}