{{block "resources" .}}
<div id="Resources" class="row">
    <h4 class="jerctf">@resources</h4>
    <div class="card text-center" style="padding: 2%; margin-bottom: 1%;">
        <table class="table table-hover table-dark table-striped">
            <tbody>
                {{range .}}
                <tr>
                    <th>{{.Year}}</th>
                    <th><a href="{{.Writeups}}" target="_blank">Writeups</a></th>
                    <th><a href="{{.Playlist}}" target="_blank">Tech Talk Playlist</a></th>
                </tr>
                {{end}}
            </tbody>
        </table>
        <div class="row">
            <div class="col mt-3">
                <a href="https://ctftime.org/ctf/724/" target="_blank">
                    <img class="resourceImg" src="/assets/img/resources/ctftime.png" />
                </a>
            </div>
            <div class="col mt-3">
                <a href="https://www.linkedin.com/company/jctf/" target="_blank">
                    <img class="resourceImg" src="/assets/img/resources/linkedin.png" />
                </a>
            </div>
            <div class="col mt-3">
                <a href="https://www.majorleaguecyber.org/events/909/jerseyctf-iii" target="_blank">
                    <img class="resourceImg" src="/assets/img/resources/majorleaguecyber.png" />
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}