{{block "schedule" .}}
<div id="Schedule" class="row justify-content-evenly">
    <h4 class="jerctf">@schedule</h4>
    <img src="/assets/img/JerseyCTF_II_Schedule_Poster.png" class="col-md-6 col-lg-6 col-sm-12 sched">
    <!--<iframe
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23D50000&amp;ctz=America%2FNew_York&amp;src=N2xmZmRsdmVjZHB2ZXVjdjR2NTVobWlmOW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;mode=AGENDA"
        style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->
</div>
{{end}}