{{block "speakers" .}}
<div id="speakers" class="row justify-content-evenly">
    <h4 class="jerctf">@speakers</h4>


    <div class="card-group" style="padding: 1rem;">
        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/MichaelGeraghty.jpg" class="card-img-top" alt="Michael Geraghty">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Michael Geraghty</h5>
                <p class="card-text">CISO, State of New Jersey & Director, NJCCIC</p>
                <p class="card-text"><i>Keynote Speaker</i></p>
                <a href="https://www.linkedin.com/in/michael-geraghty-13139820/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/AbdelSyFane.jpg" class="card-img-top" alt="Abdel Sy Fane">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Abdel Sy Fane</h5>
                <p class="card-text">President, CSNP</p>
                <p class="card-text">Speaker Topic: <i>DevSecOps</i></p>
                <a href="https://www.linkedin.com/in/abdelsyfane">LinkedIn</a>
            </div>
        </div>


        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/GabrielleBotbol.jpg" class="card-img-top" alt="Gabrielle Botbol">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Gabrielle Botbol</h5>
                <p class="card-text">Pentester, CSbyGB</p>
                <p class="card-text">Speaker Topic: <i>Solving Web Security Vulnerabilities with Pentesting</i>
                </p>
                <a href="https://www.linkedin.com/in/gabriellebotbol/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/IlanPonimansky.jpg" class="card-img-top" alt="Ilan Ponimansky">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Ilan Ponimansky</h5>
                <p class="card-text">Sr. Cloud Security Consultant, ScaleSec</p>
                <p class="card-text">Speaker Topic: <i>Cloud Security</i></p>
                <a href="https://www.linkedin.com/in/ilanponimansky/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/JohnJackson.jpg" class="card-img-top" alt="John Jackson">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">John Jackson</h5>
                <p class="card-text">Sr. App. Security Engineer, Shutterstock & Founder, Sakura Samurai</p>
                <p class="card-text">Speaker Topic: <i>Day Zero to 0day, Offensive Security Theory</i></p>
                <a href="https://www.linkedin.com/in/johnjhacking/">LinkedIn</a>
            </div>
        </div>
    </div>

    <div class="card-group" style="padding: 1rem;">
        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/JonHelmus.jpg" class="card-img-top" alt="Jon Helmus">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Jon Helmus</h5>
                <p class="card-text">Offensive Security Educator and Penetration Tester</p>
                <p class="card-text">Speaker Topic: <i>Functional Testing: A New Era of Pentesting</i></p>
                <a href="https://www.linkedin.com/in/jon-helmus-474146103/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/SethKirschner.jpg" class="card-img-top" alt="Seth Kirschner">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Seth Kirschner</h5>
                <p class="card-text">Security Engineer & Assistant Vice President, MUFG Securities Americas Inc.</p>
                <p class="card-text">Speaker Topic: <i>Consulting within Big4 Cyber</i></p>
                <a href="https://www.linkedin.com/in/sethkirschner/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/WilliamPrice.png" class="card-img-top" alt="William Price">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">William Price</h5>
                <p class="card-text">President, CyberX</p>
                <p class="card-text">Speaker Topic: <i>Hacking Humans: Using OSINT to Put Together Social Engineering Scenarios that Work</i></p>
                <a href="https://www.linkedin.com/in/cyberxcyecurityspecialistbers/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/JoannaHuisman.jpg" class="card-img-top" alt="Joanna Huisman">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Joanna Huisman</h5>
                <p class="card-text">Senior Vice President of Strategic Insights and Research, KnowBe4</p>
                <p class="card-text">Speaker Topic: <i>Driving a Security Culture</i></p>
                <a href="https://www.linkedin.com/in/joannahuisman/">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/JosephRusso.jpg" class="card-img-top" alt="Joseph Russo">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Joseph Russo</h5>
                <p class="card-text">Bureau Chief for Cybersecurity Engineering and Operations, NJCCIC</p>
                <p class="card-text">Speaker Topic: <i>Security Telemetry Aggregation and Analysis</i></p>
                <a href="https://www.linkedin.com/in/joe-russo-79358b117">LinkedIn</a>
            </div>
        </div>

        <div class="card" style="padding: 1rem;">
            <img src="/assets/img/HopeWalker.jpg" class="card-img-top" alt="Hope Walker">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">Hope Walker</h5>
                <p class="card-text">Consultant, SpecterOps</p>
                <p class="card-text">Speaker Topic: <i>Icemoon's Fantastical Intro to Offensive Security</i></p>
                <a href="https://www.linkedin.com/in/hope-walker-82398984">LinkedIn</a>
            </div>
        </div>

    </div>

</div>
{{end}}