{{block "sponsors" .}}
<div id="Sponsors" class="row justify-content-evenly mb-3">
    <h4 class="jerctf">@sponsors</h4>
    <div class="col text-center">
        <h3 class="mt-3">Support our students by joining the JerseyCTF family as a sponsor!</h3>
        <button type="button" class="btn btn-outline-info mb-3">
            <h3><a href="/assets/img/sponsor/JerseyCTF_IV_Sponsorship_Packet.pdf"
                    style="color: inherit; text-decoration: inherit;" download> Download our sponsorship flyer here.</a>
            </h3>
        </button>
        
        <!--true:Show sponsors; false:Hide sponsors-->
        {{if true}}
            {{range .AllTiers}}
                {{if .Spons}}
                <h5 class="sponsec"><span class="{{.CSSName}}">{{.TierName}}</span></h5>
                <div class="row justify-content-evenly">
                    <div class="col-6 col-sm-5 col-lg-6">
                        {{range .Spons}}
                        <div class="d-flex justify-content-evenly m-3">
                            <a target="_blank" href="{{.HREF}}">
                                <img class="img-fluid" src="/assets/img/sponsor/{{.Source}}" alt="{{.ALT}}" width="{{.Width}}">
                            </a>
                        </div>
                        {{end}}
                    </div>
                </div>
                {{end}}
            {{end}}
        {{end}}
    </div>
</div>
{{end}}