{{block "sponsors-new" .}}
<div id="sponsors" class="row justify-content-evenly">
    <h4 class="jerctf">@sponsors</h4>
    <div class="col text-center">
        {{range .}}
            {{if .Type eq "gold"}}
            <h5 class="sponsec"><span class="sponsor-{{.Type}}">Title Sponsor</span></h5>
            {{else if .Type eq "silver"}}
            <h5 class="sponsec"><span class="sponsor-{{.Type}}">CISO Sponsor</span></h5>
            {{else if .Type eq "bronze"}}
            <h5 class="sponsec"><span class="sponsor-{{.Type}}">Security Analyst Sponsor</span></h5>
            {{else}}
            <h5 class="sponsec"><span class="sponsor-{{.Type}}">Security Analyst Sponsor</span></h5>
            {{end}}
            <div class="row justify-content-evenly">
                <div class="col-6 col-sm-5 col-lg-3"> 
                    <div class="d-flex justify-content-evenly">
                        <a href="{{.HREF}}">
                            <img class="img-fluid" src="/assets/img/{{.SrcFile}}" alt="{{.ALT}}" width="{{.Width}}">
                        </a>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
{{end}}