{{block "writeups" .}}
<div id="writeups" class="row">
    <h4 class="jerctf">@writeups</h4>
    <div class="card text-center" style="padding: 1% 25%">
        <div class="card-header">Writeups / Challenges</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {{range .}}
                    <li class="list-group-item"><a href="{{.Link}}" target="_blank">{{.Year}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="card-footer">If links above are inaccesible: Check <a href="https://github.com/njitacm/ctf-challenges">here</a>.</div>
    </div>
</div>
{{end}}